<div class="jumbotron">
  <h1>Contact</h1>
  
  <p>
    This is the Contact page for the Udemy Complete Ruby on Rails course's Alpha-Blog project. Click the Articles button above to view, create, update, or delete your articles.
  </p>
  <p>
    <a href="mailto:dpereira@machfive.net">dpereira@machfive.net</a>
  </p>
</div>