<div class="jumbotron jumbotron-home">
  <h1>Welcome!</h1>
  <p>This is the Udemy Complete Ruby on Rails course's Alpha-Blog project. Click the View Articles button below to view, create, update, or delete your articles.</p>
  <p><a class="btn btn-success btn-lg btn-xlg" href="<%= articles_path %>" role="button">Sign Up!</a></p>
</div>