$navbar-default-bg: #5b0e0e;
$navbar-default-border: #5b0e0e;

@import "bootstrap-sprockets";
@import "bootstrap";

body {background: #5b0e0e;}

#logo {
    float:left;
    margin-top: -7px;
    margin-bottom: 5px;
}
#logo:hover{
    color:#fff;
}

.navbar-default .navbar-nav > li > a {
    color: #e8e3f0;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.jumbotron-home {
    background-image: asset-url('bg_jumbotron-01.jpg');
    background-size: cover;
    height: 450px;
    background-color: #937db6;
}
.jumbotron-home h1, .jumbotron-home .h1 {
    color: #fff;
    text-shadow: 1.25px 1.75px #5b5446;
}
.jumbotron-home p {
    color: #fff;
    font-weight: bolder;
    text-shadow: 1.25px 1.75px #5b5446;
}
.jumbotron .btn-xlg {
    font-size: 28px;
    float: right;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    color: #fff;
    background-color: #000;
    padding-top: 25px;
}
.footer small {
    float: left;
}
.footer small a {
    color:#a4a8b4;
    font-size: 1.15em;
    padding-left: 5px;
}
.footer small a:hover {
    color:#fff;
    text-decoration: none;
}
.footer ul {
    float: right;
    list-style: none;
}
.footer ul li {
    float: left;
    margin-left: 15px;
}
.footer a {
    color: #fff;
    font-size: .9em;
}
.footer a:hover {
    text-decoration: none;
}