<footer class="footer">
    <div class="container footer-container">
        <small>
            Spritle, LLC | All rights reserved | © 2005 ~ 2016&nbsp;&nbsp;by <a href="mailto:dpereira@machfive.net">David Pereira</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'Contact', contact_path %></li>
                <li><%= link_to 'Articles', articles_path %></li>
            </ul>
        </nav>
    </div>
</footer>

